[submodule "engine"]
	path = engine
	url = https://github.com/fa0311/warabi-engine.git
[submodule "tools"]
	path = tools
	url = https://github.com/fa0311/warabi-tools.git
[submodule "models/reranker-v2-max"]
	path = models/reranker-v2-max
	url = https://huggingface.co/fa0311/warabi-reranker-v2-max
[submodule "models/reranker-v2-lite"]
	path = models/reranker-v2-lite
	url = https://huggingface.co/fa0311/warabi-reranker-v2-lite
[submodule "models/teacher"]
	path = models/reranker-v1
	url = https://huggingface.co/fa0311/warabi-reranker-v1
[submodule "data/dictionary-core"]
	path = data/dictionary-core
	url = https://huggingface.co/datasets/fa0311/warabi-dictionary-core
[submodule "data/dictionary-extended-gpl"]
	path = data/dictionary-extended-gpl
	url = https://huggingface.co/datasets/fa0311/warabi-dictionary-extended-gpl
[submodule "data/context-dataset"]
	path = data/context-dataset
	url = https://huggingface.co/datasets/fa0311/warabi-context-dataset
[submodule "data/note-articles"]
	path = data/note-articles
	url = https://huggingface.co/datasets/nakasyou/note-articles
